<header class="section header">
    <div class="container">
        <div class="menu">
            <ul>
                <li><a href="/"><span>HOME</span><div></div> </a> </li>
                <li><a href="https://t2005e-lmao-project.herokuapp.com/about%20us.html"><span>ABOUT</span><div></div> </a> </li>
                <li><a href="/shop"><span>SHOP</span><div></div> </a> </li>
                <li><a href="/product"><span>PRODUCT</span><div></div> </a> </li>
                <li><a href="/blogpage"><span>BLOG</span><div></div> </a> </li>
                <li><a href="/contact"><span>CONTACT</span><div></div> </a> </li>
            </ul>
        </div>
        <div class="logo">
            <img src="/imgs/logo.webp">
        </div>
    </div>
</header>