<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home-Project</title>
    <link rel="stylesheet" href="libs/fontawesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/project.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header class="container header">
    <ul class="menu">
        <li><a href="/" class="text-animation">
            <span>Home</span>
            <div></div>
        </a></li>
        <li><a href="https://t2005e-lmao-project.herokuapp.com/about%20us.html" class="text-animation">
            <span>About</span>
            <div></div>
        </a></li>
        <li><a href="#" class="text-animation">
            <span>Shop</span>
            <div></div>
        </a></li>
        <li><a href="#" class="text-animation">
            <span>Product</span>
            <div></div>
        </a></li>
        <li><a href="/blogpage" class="text-animation">
            <span>Blog</span>
            <div></div>
        </a></li>
        <li><a href="#" class="text-animation">
            <span>Contact</span>
            <div></div>
        </a></li>
    </ul>
    <div class="logo">
        <img src="imgs/logo.webp">
    </div>
</header>
<section class="container">
    <div class="background">
        <img src="imgs/slider-1.webp">
        <div class="text">
            <h1> Want to stay healthy<br> drink matcha.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum id praesentium rem facere corrupti in odit quasi quod voluptatibus aspernatur, ex, sint nostrum omnis molestias neque, natus quas facilis explicabo.</p>
        </div>
    </div>
    <br>
    <div class="sale">
        <div>
            <img src="imgs/sale_1.png" alt="">
            <div class="discount">
                <h4>-50% Sale</h4>
                <h5>WINTER VACATION</h5>
            </div>
        </div>
    </div>
    <div class="sale">
        <div>
            <img src="imgs/sale_2.png" alt="">
            <div class="discount">
                <h4>-25% Sale</h4>
                <h5>SUMMER VACATION</h5>
            </div>
        </div>
    </div>
    <div class="container lasted_product">
        <div class="lasted_products_title">
            <h3>Lasted products</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt</p>
        </div>
        <div class="items_list">
            <div class="item">
                <div class="sale_title">Sale</div>
                <div class="percent_sale">-28%</div>
                <img src="imgs/lasted_products_item1.webp">
                <div class="price">
                    <div class="icon">
                        <i class="fas fa-search"></i>
                        <i class="far fa-heart"></i>
                    </div>
                    <div class="name">
                        <span>3. Variable product</span>
                        <div class="add_to_cart">+ Add to cart</div>
                    </div>
                    <p>$61.00 - <span>$85.00</span></p>
                </div>
            </div>
            <div class="item">
                <div class="sale_title">Sale</div>
                <div class="percent_sale">-28%</div>
                <img src="imgs/lasted_products_item2.webp">
                <div class="price">
                    <div class="icon">
                        <i class="fas fa-search"></i>
                        <i class="far fa-heart"></i>
                    </div>
                    <div class="name">
                        <span>1. Free shipping product</span>
                        <div class="add_to_cart">+ Add to cart</div>
                    </div>
                    <p>$61.00 - <span>$85.00</span></p>
                </div>
            </div>
            <div class="item">
                <div class="sale_title">Sale</div>
                <div class="percent_sale">-15%</div>
                <img src="imgs/lasted_products_item3.webp">
                <div class="price">
                    <div class="icon">
                        <i class="fas fa-search"></i>
                        <i class="far fa-heart"></i>
                    </div>
                    <div class="name">
                        <span>4. Best sale product</span>
                        <div class="add_to_cart">+ Add to cart</div>
                    </div>
                    <p>$110.00 - <span>$130.00</span></p>
                </div>
            </div>
            <div class="item">
                <img src="imgs/lasted_products_item4.webp">
                <div class="price">
                    <div class="icon">
                        <i class="fas fa-search"></i>
                        <i class="far fa-heart"></i>
                    </div>
                    <div class="name">
                        <span>2. New badge product</span>
                        <div class="add_to_cart">+ Add to cart</div>
                    </div>
                    <p>$80</p>
                </div>
            </div>
        </div>
    </div>
    <div class="review">
        <img src="imgs/review.webp">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt</h1>
        <h3>JOHN SULLIVAN</h3>
        <h5>Cumstomer</h5>
    </div>
    <div class="email_area">
        <h3>Join to our Newsletter</h3>
        <form>
            <div class="email_input">
                <input type="email" placeholder="Enter Your E-mail" class="email">
                <button class="button">Subcriber!</button>
            </div>
        </form>
    </div>
    <div class="lasted_new">
        <h3>Latest News</h3>
        <div class="new_single">
            <a href="#"> <img src="imgs/new_img1.webp"></a>
            <div class="new">
                <div class="date">Dec 08,2018</div>
                <div class="new_title"><a href="#">Ways to Experience the Matcha Heaven</a></div>
                <div class="new_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...</div>
                <a href="#" class="read_more">READ MORE</a>
            </div>
        </div>
        <div class="new_single">
            <a href="#"> <img src="imgs/new_img2.webp"></a>
            <div class="new">
                <div class="date">Dec 08,2018</div>
                <div class="new_title"><a href="#">World’s most popular tea drinks is sabujcha.</a></div>
                <div class="new_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...</div>
                <a href="#" class="read_more">READ MORE</a>
            </div>
        </div>
        <div class="new_single">
            <a href="#"><img src="imgs/new_img3.webp"></a>
            <div class="new">
                <div class="date">Dec 08,2018</div>
                <div class="new_title"><a href="#">How to Make Ginger Tea and Matcha-Ginger Tea</a></div>
                <div class="new_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...</div>
                <a href="#" class="read_more">READ MORE</a>
            </div>
        </div>
    </div>
</section>
<footer class="container footer">
    <div class="small_footer">
        <div>My account</div>
        <ul>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Older History</a></li>
            <li><a href="#">WishList</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">International Orders</a></li>
        </ul>
    </div>
    <div class="small_footer">
        <div>Information</div>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Delivery Information</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Return Policy</a></li>
        </ul>
    </div>
    <div class="small_footer">
        <div>Contact us</div>
        <ul>
            <li>Your current address goes to here,120 example, country.</li>
            <li>(008) 254 254 254 25487</li>
            <li>008) 358 587 657 6985</li>
            <li>support@example.com</li>
            <li>example@admin.com</li>
        </ul>
    </div>
    <div class="small_footer">
        <div>Find us </div>
        <ul>
            <li><a>Your Description goes to here you can find us here</a></li>
            <div class="social_network">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google"></i></a></li>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
            </div>
        </ul>
    </div>
</footer>
</body>
</html>