*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1250px;
    margin: 0 auto;
}
.section a{
    color: black;
    text-decoration: none;
}
.section a:hover{
    color: green;
    font-size: 16px;
}
.section i:hover{
    transform: scale(1.3);
}
.header .logo{
    float: left;
    padding: 30px 0 0 50px;
}
.header .menu{
    float: left;
    height: 100px;
    padding: 35px 0;
}
.header .menu li{
    float: left;
    list-style: none;
    margin-left: 30px;
    font-weight: 900;
}
.header li {
    position: relative;
}
.header li div {
    position: absolute;
    bottom: 1;
    left: 0;
    width: 0;
    height: 3px;
    background-color: green;
    transition: 0.3s;
}
.header li:hover div {
    width: 100%;
}
.footer {
    float: left;
    background-color: #f6f6f6;
    margin-top: 50px;
    font-family: Lora, serif;
}
.footer .contact {
    width: 23%;
    float: left;
    margin: 40px 0 0 23px;
    font-family: "Playfair Display",serif;
}
.footer .contact div {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 15px;
}
.footer .contact ul li {
    list-style: none;
    line-height: 1.5;
    padding-bottom: 15px;
    font-size: 16px;
}
.footer .social i {
    font-size: 15px;
    background: #000000;
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: 0.5s;
}
.footer .social i:hover {
    background-color: #519f10;
}